<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bonds</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<div class="wrapper-pages">

        <div class="side-menu">
            <ul class="nav-menu">
                <li class="menu-side menu-side--line"><a href="/">Home</a></li>
                <li class="menu-side"><a href="/stocks1">Stocks</a></li>
                <li class="menu-side"><a href="/stocks2">Stock Market</a></li>
                <li class="menu-side menu-side--line"><a href="/stocks3">Benefits and Risks</a></li>
                <li class="menu-side menu-side--active"><a href="/bonds1">Bonds</a></li>
                <li class="menu-side"><a href="/bonds2">Benefits and Risks</a></li>
                <li class="menu-side menu-side--line"><a href="/bonds3">Stocks vs Bonds</a></li>
                <li class="menu-side"><a href="/quiz" class="btn quiz-btn">Take a Quiz</a></li>
            </ul>
        </div>

        <div class="content-wrapper content-wrapper-market">

            <p class="bonds_text">
                A <b>bond</b> aka fixed income is an instrument used by governments and companies to raise money by borrowing from investors. Think of them like <b>loans</b>.
            </p>

            <div class="bonds_row">
                
                <div class="bonds_block">
                    <div class="bonds_img-wrapper">
                        <img src="{{ url_for('static', filename='img/bonds_7_1.jpg') }}" alt="Bond origination" class="bonds_img">
                    </div>
                    <p class="bonds_block-title">
                        <span class="origination">Bond origination <img src="{{ url_for('static', filename='img/info.png') }}" alt="info"></span>
                    </p>
                </div>

                <div class="bonds_block">
                    <div class="bonds_img-wrapper">
                        <img src="{{ url_for('static', filename='img/arrow-right.png') }}" alt="arrow" class="bonds_img">
                    </div>
                </div>

                <div class="bonds_block">
                    <div class="bonds_img-wrapper">
                        <img src="{{ url_for('static', filename='img/bonds_7_2.jpg') }}" alt="purchase bond" class="bonds_img">
                    </div>
                    <p class="bonds_block-title">
                        Bond is purchased <br> by an investor
                    </p>
                </div>

                 <div class="bonds_block">
                    <div class="bonds_img-wrapper">
                        <img src="{{ url_for('static', filename='img/curved-arrow-left.png') }}" alt="arrow" class="bonds_img">
                    </div>
                </div>

            </div>

            <div class="bonds_row">

                <div class="bonds_block">
                    <div class="bonds_img-wrapper">
                        <img src="{{ url_for('static', filename='img/curved-arrow-right.png') }}" alt="arrow" class="bonds_img">
                    </div>
                </div>
                
                <div class="bonds_block">
                    <div class="bonds_img-wrapper">
                        <img src="{{ url_for('static', filename='img/bonds_7_3.jpg') }}" alt="coupon payment" class="bonds_img">
                    </div>
                    <p class="bonds_block-title">
                        Investor gets <br> <span class="coupon">coupon payments <img src="{{ url_for('static', filename='img/info.png') }}" alt="info"></span>
                    </p>
                </div>

                <div class="bonds_block">
                    <div class="bonds_img-wrapper">
                        <img src="{{ url_for('static', filename='img/arrow-right.png') }}" alt="arrow" class="bonds_img">
                    </div>
                </div>

                <div class="bonds_block">
                    <div class="bonds_img-wrapper">
                        <img src="{{ url_for('static', filename='img/bonds_7_4.jpg') }}" alt="bond maturity" class="bonds_img">
                    </div>
                    <p class="bonds_block-title">
                        <span class="maturity">At maturity <img src="{{ url_for('static', filename='img/info.png') }}" alt="info"></span>a company repays <br> the principal
                    </p>
                </div>

            </div>

            <p class="bonds_text">
                The <b>maturity date</b> refers to the <b>due date</b> on which a borrower must pay back an installment loan in full. <br>
            </p>

        </div>

        <div class="btn-pages">
            <a href="/stocks4" class="btn">Go Back</a>

            <a href="/bonds2" class="btn">Next</a>
        </div>


	</div>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <script>
    
tippy('.origination', {
        content: 'The act of making loan',   
        theme: 'tomato',
      });

tippy('.coupon', {
        content: 'A coupon payment is the annual interest\ payment paid to a bondholder by the bond issuer\ until the debt instrument matures',
        theme: 'tomato',
      });

tippy('.maturity', {
        content: 'The maturity date is the date on which the\ principal amount of a bond becomes due.',
        theme: 'tomato',
      });

</script>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>