<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Buy stock</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<div class="wrapper-pages">

        <div class="side-menu">
            <ul class="nav-menu">
                <li class="menu-side menu-side--line"><a href="/">Home</a></li>
                <li class="menu-side"><a href="/stocks1">Stocks</a></li>
                <li class="menu-side menu-side--active"><a href="/stocks2">Stock Market</a></li>
                <li class="menu-side menu-side--line"><a href="/stocks3">Benefits and Risks</a></li>
                <li class="menu-side"><a href="/bonds1">Bonds</a></li>
                <li class="menu-side"><a href="/bonds2">Benefits and Risks</a></li>
                <li class="menu-side menu-side--line"><a href="/bonds3">Stocks vs Bonds</a></li>
                <li class="menu-side"><a href="/quiz" class="btn quiz-btn">Take a Quiz</a></li>
            </ul>
        </div>

        <div class="content-wrapper content-wrapper-market">

            <h2 class="buy-stock-title">
                <b>Where to buy</b>
            </h2>

            <div class="buy-stock_content">
                <div class="buy-stock_content-block">
                    <div class="buy-stock_img-wrapper">
                        <img src="{{ url_for('static', filename='img/ipo_4_1.jpg') }}" alt="IPO" class="buy-stock_img">
                    </div>
                    <ul class="buy-stock_list">
                        <li>An <b>Initial Public Offering</b> occurs when a private company issues stock to the public for the first time. <b>IPO</b> is an example of a primary market.
                        </li>
                        <li><b>IPOs</b> provide companies with an opportunity to obtain capital by offering shares through the primary market.
                        </li>
                    </ul>
                </div>
                <div class="buy-stock_content-block">
                    <div class="buy-stock_img-wrapper">
                        <img src="{{ url_for('static', filename='img/secodary_market_4_2.jpg') }}" alt="Secondary_market" class="buy-stock_img">
                    </div>
                    <ul class="buy-stock_list">
                        <li>The <b>secondary market</b> is the stock market and refers to the New York Stock Exchange, the Nasdaq, and other exchanges worldwide.
                        </li>
                        <li>The <b>secondary market</b> is where investors buy and sell securities they already own.
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="btn-pages">
            <a href="/stocks1" class="btn">Go Back</a>

            <a href="/stocks3" class="btn">Next</a>
        </div>


	</div>


	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>