<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Benefits and Risks Stocks</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<div class="wrapper-pages">

        <div class="side-menu">
            <ul class="nav-menu">
                <li class="menu-side menu-side--line"><a href="/">Home</a></li>
                <li class="menu-side"><a href="/stocks1">Stocks</a></li>
                <li class="menu-side"><a href="/stocks2">Stock Market</a></li>
                <li class="menu-side menu-side--line menu-side--active"><a href="/stocks3">Benefits and Risks</a></li>
                <li class="menu-side"><a href="/bonds1">Bonds</a></li>
                <li class="menu-side"><a href="/bonds2">Benefits and Risks</a></li>
                <li class="menu-side menu-side--line"><a href="/bonds3">Stocks vs Bonds</a></li>
                <li class="menu-side"><a href="/quiz" class="btn quiz-btn">Take a Quiz</a></li>
            </ul>
        </div>

        <div class="content-wrapper content-wrapper-market">

            <h2 class="market-title benefits-title">
                <b>Benefits</b>
            </h2>

            <div class="benefits-stock_wrapper">
                
                <div class="benefits-stock_block">
                    
                    <div class="benefits-stock_img-wrapper">
                        <img src="{{ url_for('static', filename='img/stocks_5_1.jpg') }}" alt="price growth" class="benefits-stock_img">
                    </div>

                    <p class="benefits-stock_title">
                        Growth through <span class="price">price appreciation <img src="{{ url_for('static', filename='img/info.png') }}" alt="Info"></span>
                    </p>

                </div>

                <div class="benefits-stock_block">
                    
                    <div class="benefits-stock_img-wrapper">
                        <img src="{{ url_for('static', filename='img/stocks_5_2.jpg') }}" alt="dividends" class="benefits-stock_img">
                    </div>

                    <p class="benefits-stock_title">
                        Income through <br><span class="dividends">dividends <img src="{{ url_for('static', filename='img/info.png') }}" alt="Info"></span>
                    </p>

                </div>

                <div class="benefits-stock_block">
                    
                    <div class="benefits-stock_img-wrapper">
                        <img src="{{ url_for('static', filename='img/stocks_5_3.jpg') }}" alt="diversification" class="benefits-stock_img">
                    </div>

                    <p class="benefits-stock_title">
                        <span class="diversification">Diversification <img src="{{ url_for('static', filename='img/info.png') }}" alt="Info"></span>
                    </p>

                </div>

            </div>

            <h2 class="market-title benefits-title">
                <b>Risks</b>
            </h2>

            <ul class="risks-stock_list">
                <li>
                    <b>Market value risk</b> - market prices start to go down pushing the value of stock downward
                </li>
                <li>
                    <b>Return on investment is not guaranteed</b> - no one can predict exactly how a stock will perform in the future or that a company will even stay in business
                </li>
            </ul>

        </div>

        <div class="btn-pages">
            <a href="/stocks2" class="btn">Go Back</a>

            <a href="/stocks4" class="btn">Next</a>
        </div>


	</div>


<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>

<script>
    
tippy('.price', {
        content: 'stock price refers to the current price that a\ share of stock is trading for on the market',
        theme: 'tomato',
      });

tippy('.dividends', {
        content: 'Dividend refers to a reward, cash or otherwise,\ that a company gives to its shareholders',
        theme: 'tomato',
      });

tippy('.diversification', {
        content: 'Having “eggs” in multiple baskets mitigates risk,\ as if one basket breaks, not all eggs are lost',
        theme: 'tomato',
      });

</script>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>