<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stocks</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<div class="wrapper-pages">

        <div class="side-menu">
            <ul class="nav-menu">
                <li class="menu-side menu-side--line"><a href="/">Home</a></li>
                <li class="menu-side menu-side--active"><a href="/stocks1">Stocks</a></li>
                <li class="menu-side"><a href="/stocks2">Stock Market</a></li>
                <li class="menu-side menu-side--line"><a href="/stocks3">Benefits and Risks</a></li>
                <li class="menu-side"><a href="/bonds1">Bonds</a></li>
                <li class="menu-side"><a href="/bonds2">Benefits and Risks</a></li>
                <li class="menu-side menu-side--line"><a href="/bonds3">Stocks vs Bonds</a></li>
                <li class="menu-side"><a href="/quiz" class="btn quiz-btn">Take a Quiz</a></li>
            </ul>
        </div>

        <div class="content-wrapper content-wrapper-market">

            <h2 class="market-title">
                <b>Stock aka "equity"</b> represents the ownership of the company
            </h2>

            <div class="market-process">
                <img src="{{ url_for('static', filename='img/stocks_3_2.jpg') }}" alt="buyer" class="buy-stock">
                <img src="{{ url_for('static', filename='img/arrow-right.png') }}" alt="arrow" class="arrow-stock">
                <img src="{{ url_for('static', filename='img/stocks_3_1.jpg') }}" alt="stock" class="buy-stock buy-stock-center">
                <img src="{{ url_for('static', filename='img/arrow-right.png') }}" alt="arrow" class="arrow-stock">
                <img src="{{ url_for('static', filename='img/stocks_3_3.jpg') }}" alt="shareholder" class="buy-stock">
            </div>

            <p class="market-text">
                A <b>stock investment</b> is money that is <b>invested</b> in a company by purchasing shares of that company in the <b>stock market</b>. These shares <b>are</b> typically traded on a <b>stock exchange</b>
            </p>

        </div>

        <div class="btn-pages btn-pages--first">
            <!-- <a href="#" class="btn">Go Back</a> -->

            <a href="/stocks2" class="btn">Next</a>
        </div>


	</div>


	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>